<div id="<%= dom_id notification %>">
  <p>
    <strong>Title:</strong>
    <%= notification.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= notification.content %>
  </p>

  <p>
    <strong>Importance:</strong>
    <%= notification.importance %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= notification.day %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= notification.tag %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

</div>
